@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Open+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #FDEBD0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    color: #F7CAC9;
    
}
.container{ 
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.title-card span{
    color: aliceblue;
    font-size: 30px;
    font-weight: 800;
}
#background span{
    font-size: 30px;
    font-weight: 800;
}
.title-card{
    border-radius: 8%;
    height: fit-content;
    background-color: #DC143C ;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-card > img{
    margin: 0;
    float: left;
    width: 40%;
    border-radius: 100%;
    padding: 50px;
}
.base-intro{
    width: 100%;
    height: auto;
    font-size: larger;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-icon{
    background-color: #DC143C;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    border-radius: 50%;
}
.nav-icon > a{
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: aliceblue;
}

.background-card{
    border-radius: 10%;
    color: #DC143C;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.card-body > h4{
    color: #F7CAC9;
    font-weight: 800;
}
.card{
    width: 300px;
    background-color: #DC143C;
    color: #F7CAC9;
    border-radius:10% ;
}
.project-card{
    border-radius: 10%;
    color: #DC143C;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
#project span{
    font-size: 30px;
    font-weight: 800;
}
.project-card-body{
    color: #F7CAC9;
    border-radius: 10%;
    background-color: #DC143C;
    padding: 20px;

}

.intrest-card{
    border-radius: 10%;
    color: #DC143C;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
#intrests span{
    font-size: 30px;
    font-weight: 800;
}
.intrest-card-body{
    color: #F7CAC9;
    border-radius: 10%;
    background-color: #DC143C;
    padding: 50px;

}
.image > img{
    border-radius: 20%;

}

